body {
    background: blue;
}
body {
    background: rgb(223, 220, 240);
  }
  
  h1 {
    color: #abab23;
    font-weight: bold;
    font-size: 5em;
  }
  
  p {
    color: cyan;
    font-size: 2rem;
  }